// Roboto Font Family

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Roboto/Roboto-Black.ttf');
}

// Avenir Font Family

@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Avenir/Avenir-Light.ttf');
}

@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Avenir/Avenir-Roman.ttf');
}

@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Avenir/Avenir-Book.ttf');
}

@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Avenir/Avenir-Medium.ttf');
}

@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Avenir/Avenir-Heavy.ttf');
}

@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Avenir/Avenir-Black.ttf');
}

@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Avenir/Avenir-Black.ttf');
}

// Proxima Font Family

@font-face {
  font-family: Proxima;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Proxima/Thin.otf');
}

@font-face {
  font-family: Proxima;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Proxima/Light.otf');
}

@font-face {
  font-family: Proxima;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Proxima/Regular.otf');
}

@font-face {
  font-family: Proxima;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Proxima/Bold.otf');
}

@font-face {
  font-family: Proxima;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Proxima/Extrabold.otf');
}

@font-face {
  font-family: Proxima;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Proxima/Black.otf');
}

@font-face {
  font-family: Proxima;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Proxima/Black.otf');
}
